<div class="careers">
    <div class="container">
        <div class="section-about section " id="about">
            <div class="row flex ">
                <div class="col-md-8 col-xs-10 col-xs-offset-1 col-sm-9">
                    <div class="">
                        <h5 class="text-uppercase section-sub-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.4s">CAREERS AT SWIFTKIND</h5>
                        <h2 class="section-heading wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">WE. WANT. YOU.</h2>
                        <div class="bar  wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s"></div>
                        <p class="description  wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">Software engineering isn’t just something we do. That’s what we are made of. Everyday at swiftkind, our team work passionately to deliver every project with the ultimate goal of solving world’s hardest problems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="section-content">
            <div class="bg-text">
                <p class="text">
                    Solid team
                    <br/>Collaboration
                </p>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="caption">Everyday at swiftkind, solid team effort and collaboration is highly valued. We celebrate open-mindedness and wide perspective of each individual in the team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
