<div class="animated slideInRight right-sidebar">
   <div class="content">
        <div class="container">
            <div class="row">
                <div class="pull-right">
                    <h3> <a href="#" class="contact-trigger"><i class="icon ion-close-round"></i></a></h3>
                </div>
                <div class="col-md-12">
                    <h6 class="title">CONTACT</h6>
                </div>
                <div class="col-md-6">
                    <h2 class="contact-heading">Some great ideas start here!</h2>
                    <p>Shoot us an e-mail at</p>
                    <a href="#"><h2>Hello@swiftkind.com </h2></a>
                 
                </div>
                <div class="col-md-6">
                    <p>Headquarters</p>
                    <h2>
                    Davao City
                </h2>
                <div class="row">
                  <div class="col-md-8">
                       <h5 class="section-sub-heading">Address</h5>
                       <div class="address">
                            <p>#730-A Molave Street, Juna Subdivision, Matina, Davao City, Philippines, 8000</p>
                        </div>
                  </div>
                  <div class="col-md-4">
                       <h5 class="section-sub-heading">Phone</h5>
                        <div class="phone">
                            <p>(082) 225 - 1050</p>
                        </div>
                  </div>
                    
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="material">
                        <input type="text" required>
                        <hr>
                        <label>Name</label>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="material">
                        <input type="text" required>
                        <hr>
                        <label>E-mail</label>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="material">
                        <input type="text" required>
                        <hr>
                        <label>Company (optional)</label>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="material">
                        <input type="text" required>
                        <hr>
                        <label>Phone</label>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="material">
                        <textarea required></textarea>
                        <hr>
                        <label>Message</label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>