@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/montseratt/Montserrat-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/montseratt/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/montseratt/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url("../fonts/raleway/Raleway-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url("../fonts/raleway/Raleway-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("../fonts/raleway/Raleway-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/open-sans/OpenSans-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Std-Medium';
  src: url("../fonts/futura/Futura-Std-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url("../fonts/HelveticaNeue/helveticaneuecyr-light.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue Thin";
  src: url("../fonts/HelveticaNeue/helveticaneuecyr-thin.woff2") format("woff2"), url("../fonts/HelveticaNeue/helveticaneuecyr-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 114, ../sass/_typography.scss */
body {
  font-family: "HelveticaNeue Thin", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* line 2, ../sass/_extends.scss */
.flex {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 2, ../sass/_extends.scss */
  .flex {
    display: block;
  }
}

/* line 10, ../sass/_extends.scss */
.flex > [class^="col-"],
.flex > [class*=" col-"] {
  display: flex;
  align-items: center;
}

/* line 17, ../sass/_extends.scss */
.no-padding {
  padding: 0;
}

/* line 21, ../sass/_extends.scss */
.no-margin {
  margin: 0;
}

/* line 25, ../sass/_extends.scss */
.container-fluid {
  padding: 0;
}

/* line 29, ../sass/_extends.scss */
.align-center {
  margin: 0 auto !important;
}

/* line 36, ../sass/_extends.scss */
.horizontal-slider.slick-dotted,
.vertical-slider.slick-dotted {
  margin-bottom: 0;
}

/* line 43, ../sass/_extends.scss */
.hvr-grow:hover {
  box-shadow: 0 0 10px rgba(37, 232, 244, 0.9);
  border: solid rgba(37, 232, 244, 0.9) 1px;
}

/* line 50, ../sass/_extends.scss */
a {
  color: #0c8141;
  text-decoration: none;
}
/* line 53, ../sass/_extends.scss */
a:hover {
  color: #085229;
  text-decoration: none;
  transition: ease-in 0.1s all;
}

/* line 62, ../sass/_extends.scss */
#testimony .owl-prev {
  float: left;
}
/* line 65, ../sass/_extends.scss */
#testimony .owl-next {
  float: right;
}
/* line 68, ../sass/_extends.scss */
#testimony .owl-prev,
#testimony .owl-next {
  background: none;
  margin-top: -7em;
}
/* line 73, ../sass/_extends.scss */
#testimony .owl-prev img,
#testimony .owl-next img {
  width: 1em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 68, ../sass/_extends.scss */
  #testimony .owl-prev,
  #testimony .owl-next {
    margin-top: -3em;
    display: none;
  }
}

/* line 84, ../sass/_extends.scss */
#team-xs .owl-dot span {
  background: #565656;
  height: 8px;
  width: 8px;
}
/* line 90, ../sass/_extends.scss */
#team-xs .owl-dot.active span {
  background: #869791;
}

/* line 98, ../sass/_extends.scss */
.black-pearl {
  background: #112932;
  background: -webkit-linear-gradient(to bottom, #263238, #0c2731);
  background: linear-gradient(to bottom, #263238, #0c2731);
}

/* line 105, ../sass/_extends.scss */
.material {
  position: relative;
  padding: 0;
  margin: 1.2em 0;
  border: none;
  overflow: visible;
}

/* line 113, ../sass/_extends.scss */
.material input, .material textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: #232e33 solid 2px;
  font-size: 120%;
  outline: none;
  cursor: text;
  background: none;
}

/* line 127, ../sass/_extends.scss */
.material textarea {
  height: 6em;
  margin-bottom: -5.3px;
}

/* line 132, ../sass/_extends.scss */
.material input::-webkit-input-placeholder,
.material textarea::-webkit-input-placeholder {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

/* line 138, ../sass/_extends.scss */
.material input:not(:focus)::-webkit-input-placeholder,
.material textarea:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}

/* line 143, ../sass/_extends.scss */
.material hr {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #135858;
  font-size: 1px;
  will-change: transform, visibility;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}

/* line 166, ../sass/_extends.scss */
.material input:focus ~ hr,
.material textarea:focus ~ hr {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

/* line 173, ../sass/_extends.scss */
.material label {
  position: absolute;
  top: 10px;
  color: #e9eaeb;
  -webkit-transform-origin: 0 -150%;
  transform-origin: 0 -150%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  pointer-events: none;
  font-family: "Raleway-Light";
}

/* line 187, ../sass/_extends.scss */
.material input:focus ~ label,
.material input:valid ~ label,
.material textarea:focus ~ label,
.material textarea:valid ~ label {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

/* line 1, ../sass/_header.scss */
.nav-list {
  top: 8em;
  position: fixed;
  top: 0;
}
/* line 8, ../sass/_header.scss */
.nav-list ul.affix {
  opacity: 1;
}
/* line 12, ../sass/_header.scss */
.nav-list ul {
  opacity: 0;
  text-align: right;
  padding: 0;
  list-style: none;
}
/* line 17, ../sass/_header.scss */
.nav-list ul li {
  border-right: solid 1.5px #293746;
  position: relative;
  padding: 1.5em 1em;
  font-size: 1em;
  transition: padding 0.5s;
}
/* line 23, ../sass/_header.scss */
.nav-list ul li::before {
  content: "";
  background-color: #293746;
  position: absolute;
  width: 10px;
  height: 10px;
  right: -5px;
  border-radius: 50%;
  margin-top: 4px;
}
/* line 33, ../sass/_header.scss */
.nav-list ul li span {
  margin-top: -2px;
  font-size: 12px;
  margin-right: 2em;
  font-family: "Futura-Std-Medium";
  color: #293746;
}
/* line 40, ../sass/_header.scss */
.nav-list ul li a {
  color: #4d5254;
  padding: 0;
}
/* line 43, ../sass/_header.scss */
.nav-list ul li a:hover {
  background-color: none;
}
/* line 47, ../sass/_header.scss */
.nav-list ul li.active {
  padding-bottom: 4em;
}
/* line 49, ../sass/_header.scss */
.nav-list ul li.active::before {
  background-color: #0c8141;
}
/* line 52, ../sass/_header.scss */
.nav-list ul li.active span {
  color: #0c8141;
}
/* line 55, ../sass/_header.scss */
.nav-list ul li.active::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 1;
  border: solid 1.5px #293746;
  right: -12.4px;
  position: absolute;
  top: 17.5px;
}
/* line 66, ../sass/_header.scss */
.nav-list ul li.active a {
  background: none;
  color: #0c8141;
}

/* line 76, ../sass/_header.scss */
nav.navbar {
  margin-bottom: 0;
  background: #12141a;
  border-radius: 0;
  padding: 1em 3em 2em;
  z-index: 450;
  position: fixed;
  width: 100%;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: padding;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 76, ../sass/_header.scss */
  nav.navbar {
    height: 4em;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
  }
}
/* line 98, ../sass/_header.scss */
nav.navbar a img {
  width: 150px;
}
/* line 102, ../sass/_header.scss */
nav.navbar .navbar-header {
  margin-top: 11px;
  width: 100%;
  position: absolute;
  z-index: 400;
}
/* line 107, ../sass/_header.scss */
nav.navbar .navbar-header a {
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 102, ../sass/_header.scss */
  nav.navbar .navbar-header {
    margin: 0;
  }
}
/* line 114, ../sass/_header.scss */
nav.navbar .nav-links {
  text-align: center;
  webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/* line 129, ../sass/_header.scss */
nav.navbar .nav-links.open {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 129, ../sass/_header.scss */
  nav.navbar .nav-links.open {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* line 143, ../sass/_header.scss */
nav.navbar .nav-links ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
/* line 147, ../sass/_header.scss */
nav.navbar .nav-links ul li {
  padding: 1.5em 0 1.5em 2.5em;
  display: inline;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 147, ../sass/_header.scss */
  nav.navbar .nav-links ul li {
    display: block;
    padding: 1em 0;
  }
}
/* line 154, ../sass/_header.scss */
nav.navbar .nav-links ul li:first-child {
  padding-left: 0;
}
/* line 157, ../sass/_header.scss */
nav.navbar .nav-links ul li a {
  color: #eee;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 161, ../sass/_header.scss */
nav.navbar .nav-links ul li a:hover {
  color: #0c8141;
}
/* line 168, ../sass/_header.scss */
nav.navbar.active {
  position: fixed;
  transition: ease-in 0.5s all;
  width: 100%;
  color: #fff;
  border: none;
  background: #12141a;
}
/* line 175, ../sass/_header.scss */
nav.navbar.active path {
  stroke: #fff;
}
/* line 178, ../sass/_header.scss */
nav.navbar.active .nav-logo {
  width: 3em;
  margin: 0 auto;
}
/* line 183, ../sass/_header.scss */
nav.navbar.active .contact-trigger {
  color: #fff;
}
/* line 186, ../sass/_header.scss */
nav.navbar.active .menu {
  display: none;
}
/* line 189, ../sass/_header.scss */
nav.navbar.active .envelop {
  stroke: #fff;
}
/* line 193, ../sass/_header.scss */
nav.navbar.active .menu-trigger .logo {
  display: inline-block;
  background-image: url(../images/logo-active.png);
  background-size: cover;
  width: 100px;
  height: 30px;
}
/* line 203, ../sass/_header.scss */
nav.navbar.active .nav-links {
  z-index: 10;
  text-align: center;
}
/* line 208, ../sass/_header.scss */
nav.navbar.active .nav-links ul li a {
  color: #fff;
  text-transform: uppercase;
}
/* line 216, ../sass/_header.scss */
nav.navbar .contact-trigger {
  color: #fff;
  font-size: 14px;
  padding: 12px 20px 12px;
  margin-right: 4em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 216, ../sass/_header.scss */
  nav.navbar .contact-trigger {
    padding: 12px 0px 0px;
    margin-right: 5.5em;
  }
}
/* line 226, ../sass/_header.scss */
nav.navbar .text-logo {
  color: #fff !important;
  font-size: 1.5em;
  margin-top: -3px;
  position: absolute;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 226, ../sass/_header.scss */
  nav.navbar .text-logo {
    margin: -3px 0 0;
  }
}
/* line 235, ../sass/_header.scss */
nav.navbar .menu-trigger {
  height: 30px;
}
/* line 237, ../sass/_header.scss */
nav.navbar .menu-trigger .logo {
  display: none;
}
/* line 239, ../sass/_header.scss */
nav.navbar .menu-trigger .logo img {
  margin-top: -13px;
  width: 110px;
}
/* line 245, ../sass/_header.scss */
nav.navbar .menu {
  color: #898989;
  margin-top: -25px;
  text-decoration: none;
  position: absolute;
  margin-left: 35px;
  font-size: 12px;
}
/* line 253, ../sass/_header.scss */
nav.navbar .hamburger {
  display: inline-block;
}
/* line 256, ../sass/_header.scss */
nav.navbar svg {
  width: 30px;
  height: 25px;
}
/* line 260, ../sass/_header.scss */
nav.navbar path {
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
}
/* line 266, ../sass/_header.scss */
nav.navbar path#top, nav.navbar path#bottom {
  stroke-dasharray: 20px 60px;
}
/* line 270, ../sass/_header.scss */
nav.navbar path#middle {
  stroke-dasharray: 20px 20px;
}
/* line 275, ../sass/_header.scss */
nav.navbar .open path#top,
nav.navbar .open path#bottom {
  stroke-dashoffset: -50px;
}
/* line 279, ../sass/_header.scss */
nav.navbar .open path#middle {
  stroke-dashoffset: -10px;
  stroke-dasharray: 0px 10px;
}

/* line 287, ../sass/_header.scss */
.scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 287, ../sass/_header.scss */
  .scroll-down {
    bottom: 6em;
  }
}

/* line 297, ../sass/_header.scss */
.arrow {
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 3em;
  animation-timing-function: ease-out;
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
}
/* line 307, ../sass/_header.scss */
.arrow a {
  color: #fff;
}

@keyframes arrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
/* line 322, ../sass/_header.scss */
#page-wrapper.open {
  transition: ease all 0.5s;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 322, ../sass/_header.scss */
  #page-wrapper.open {
    overflow-y: hidden;
  }
}
/* line 328, ../sass/_header.scss */
#page-wrapper.open .navbar.active {
  background: #12141a;
}
/* line 330, ../sass/_header.scss */
#page-wrapper.open .navbar.active a {
  color: #fff;
  text-decoration: none;
}
/* line 334, ../sass/_header.scss */
#page-wrapper.open .navbar.active .logo {
  display: inline-block;
  background-image: url(../images/logo.png);
  background-size: cover;
  width: 100px;
  height: 30px;
}
/* line 344, ../sass/_header.scss */
#page-wrapper.open .navbar.active .hamburger path {
  stroke: #fff;
}
/* line 350, ../sass/_header.scss */
#page-wrapper.open .right-sidebar {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 350, ../sass/_header.scss */
  #page-wrapper.open .right-sidebar {
    overflow-y: auto;
    right: 0;
    z-index: 500;
    padding: 0;
  }
}
/* line 368, ../sass/_header.scss */
#page-wrapper.open .contact-trigger {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
/* line 376, ../sass/_header.scss */
#page-wrapper.open .close-contact {
  color: #fff;
  opacity: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 376, ../sass/_header.scss */
  #page-wrapper.open .close-contact {
    margin-right: 1em;
    opacity: 1;
    font-size: 14px;
  }
}
/* line 386, ../sass/_header.scss */
#page-wrapper .right-sidebar {
  display: block;
  position: fixed;
  top: 0;
  z-index: 310;
  width: 100%;
  height: 100%;
  background: #12141a;
  transition: ease-in-out all 0.5s;
  webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}
/* line 387, ../sass/_header.scss */
#page-wrapper .right-sidebar .content {
  overflow-x: auto;
  display: flex;
  align-items: center;
  height: 100%;
  color: #e9eaeb;
  font-family: "Raleway-Light";
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 387, ../sass/_header.scss */
  #page-wrapper .right-sidebar .content {
    display: block;
    padding: 0 2em 2em;
  }
}
/* line 398, ../sass/_header.scss */
#page-wrapper .right-sidebar .content .address,
#page-wrapper .right-sidebar .content .phone {
  font-family: "OpenSans-Light";
}
/* line 402, ../sass/_header.scss */
#page-wrapper .right-sidebar .content .contact-heading {
  font-family: "Montserrat-Light";
}
/* line 405, ../sass/_header.scss */
#page-wrapper .right-sidebar .content .title {
  letter-spacing: 5px;
  margin-top: 5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 409, ../sass/_header.scss */
  #page-wrapper .right-sidebar .content h2 {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 386, ../sass/_header.scss */
  #page-wrapper .right-sidebar {
    top: 0;
    right: 0;
  }
}
/* line 439, ../sass/_header.scss */
#page-wrapper .right-sidebar .form-control {
  height: 50px;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #a8adaf;
  border-bottom: #0d1c23 solid 2px;
  margin-bottom: 1em;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* line 453, ../sass/_header.scss */
  .content-wrapper.left-open {
    overflow-y: hidden;
  }
}
/* line 457, ../sass/_header.scss */
.content-wrapper.left-open .navbar {
  padding: 4em 3em 2em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 457, ../sass/_header.scss */
  .content-wrapper.left-open .navbar {
    padding: 1em 3em 2em;
    overflow-y: hidden;
    height: 100%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 475, ../sass/_header.scss */
  .content-wrapper.left-open .navbar .text-logo {
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
  }
}

/* line 489, ../sass/_header.scss */
.send button {
  border-radius: 0;
  background: #2b2c38;
  padding: 1em 5em;
  text-transform: uppercase;
}
/* line 494, ../sass/_header.scss */
.send button:hover, .send button:focus, .send button:active {
  background: #15151b;
  transition: 0.2s ease;
  color: #fff;
  outline: none;
}
/* line 503, ../sass/_header.scss */
.send button:active:focus {
  outline: none;
  background: black;
  transition: 0.2s ease;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 488, ../sass/_header.scss */
  .send {
    text-align: center;
  }
}

/* line 1, ../sass/_home.scss */
#page-wrapper {
  background: #12141a;
}

/* line 5, ../sass/_home.scss */
#canvas1 {
  width: 100% !important;
  height: 100vh;
  position: fixed;
  top: 0;
}

/* line 12, ../sass/_home.scss */
.masthead {
  width: 100%;
  background: #12141a;
  color: #fff;
  padding-top: 6em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 12, ../sass/_home.scss */
  .masthead {
    padding-top: 3em;
  }
}
@media (min-width: 1440px) {
  /* line 12, ../sass/_home.scss */
  .masthead {
    padding-top: 10em;
  }
}
/* line 23, ../sass/_home.scss */
.masthead .masthead-content {
  width: 100%;
}
/* line 27, ../sass/_home.scss */
.masthead .masthead-content .content-text .site-logo img {
  width: 150px;
  margin: 4em auto 4em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 27, ../sass/_home.scss */
  .masthead .masthead-content .content-text .site-logo img {
    width: 100px;
  }
}
/* line 35, ../sass/_home.scss */
.masthead .masthead-content .content-text .cta {
  color: #fff;
  background: #09182b;
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: 3em;
  font-size: 1.2em;
  font-family: "Montserrat-Light";
  text-decoration: none;
}
/* line 44, ../sass/_home.scss */
.masthead .masthead-content .content-text .cta:hover {
  background: #071323;
  transition: 0.3s ease;
}
/* line 49, ../sass/_home.scss */
.masthead .masthead-content .content-text .section-heading {
  color: #fff;
  font-family: "OpenSans-Light";
  width: 55%;
  font-size: 35px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  /* line 49, ../sass/_home.scss */
  .masthead .masthead-content .content-text .section-heading {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 49, ../sass/_home.scss */
  .masthead .masthead-content .content-text .section-heading {
    width: 75%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 49, ../sass/_home.scss */
  .masthead .masthead-content .content-text .section-heading {
    width: 100%;
    font-size: 20px;
  }
}
/* line 65, ../sass/_home.scss */
.masthead .masthead-content .content-text .sub-heading {
  margin: 2em 0;
}
@-webkit-keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}
@keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}
@-webkit-keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}
@keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}
/* line 101, ../sass/_home.scss */
.masthead .masthead-content div.mouse-container {
  position: relative;
  display: block;
  height: 100px;
}
/* line 106, ../sass/_home.scss */
.masthead .masthead-content div.mouse {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 50px;
  border: solid 2px #fff;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s;
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 119, ../sass/_home.scss */
.masthead .masthead-content div.mouse span.scroll-down {
  display: block;
  width: 4px;
  height: 10px;
  background: #fff;
  border-radius: 2px;
  margin: 15% auto auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 136, ../sass/_home.scss */
.nav-logo {
  display: none;
}

/* line 140, ../sass/_home.scss */
.right-column {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
}

/* line 148, ../sass/_home.scss */
.main-column {
  overflow-y: auto;
  width: 80%;
}

/* line 153, ../sass/_home.scss */
.section {
  min-height: 100vh;
}

/* line 157, ../sass/_home.scss */
.section-2 {
  background: #f9f9f9;
}

/* line 161, ../sass/_home.scss */
.section-full {
  height: 100vh;
  width: 100%;
}

/* line 166, ../sass/_home.scss */
.section-heading {
  font-size: 300%;
  font-family: "Raleway-Light";
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.4;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 166, ../sass/_home.scss */
  .section-heading {
    font-size: 200%;
  }
}

/* line 178, ../sass/_home.scss */
.nav-stacked {
  position: fixed;
  top: 20%;
}

/* line 183, ../sass/_home.scss */
.section-sub-heading {
  color: #0d8040;
  font-family: "OpenSans-Semibold";
}

/* line 188, ../sass/_home.scss */
.section-text {
  font-size: 1.2em;
  line-height: 2;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: "HelveticaNeue Thin", Arial, sans-serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 188, ../sass/_home.scss */
  .section-text {
    line-height: 1.6;
  }
}

/* line 199, ../sass/_home.scss */
.bar {
  display: block;
  background: #0d8040;
  width: 3em;
  height: 0.3em;
  margin: 1.5em 0 2.5em;
}

/* line 207, ../sass/_home.scss */
.section-main-img {
  width: 100%;
}

/* line 211, ../sass/_home.scss */
.user-centered {
  background: #244144;
  width: 100%;
  position: relative;
  padding: 4em;
  display: inline-flex;
  align-items: baseline;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 211, ../sass/_home.scss */
  .user-centered {
    padding: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 211, ../sass/_home.scss */
  .user-centered {
    padding: 2em;
  }
}
/* line 224, ../sass/_home.scss */
.user-centered.user-2 {
  background: #1b9a7d;
}
/* line 228, ../sass/_home.scss */
.user-centered .img-1 {
  width: 40%;
  z-index: 3;
  margin-left: -4em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 228, ../sass/_home.scss */
  .user-centered .img-1 {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 228, ../sass/_home.scss */
  .user-centered .img-1 {
    margin-left: -2em;
  }
}
/* line 240, ../sass/_home.scss */
.user-centered .img-2 {
  width: 35%;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 240, ../sass/_home.scss */
  .user-centered .img-2 {
    width: 100%;
    margin: 0;
  }
}
/* line 248, ../sass/_home.scss */
.user-centered .img-3 {
  width: 25%;
  z-index: 1;
  margin-right: -3em;
  margin-left: 4em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 248, ../sass/_home.scss */
  .user-centered .img-3 {
    width: 60%;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 248, ../sass/_home.scss */
  .user-centered .img-3 {
    margin-right: -1em;
    margin-left: 2em;
  }
}

/* line 264, ../sass/_home.scss */
.section-about {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 268, ../sass/_home.scss */
  .section-about .section-heading {
    font-size: 24px;
  }
}
/* line 273, ../sass/_home.scss */
.section-about .description {
  font-size: 25px;
  font-family: "HelveticaNeue Thin", Arial, sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 273, ../sass/_home.scss */
  .section-about .description {
    font-size: 16px;
    line-height: 1.4;
  }
}
/* line 284, ../sass/_home.scss */
.section-about .about-link {
  display: inline-flex;
  right: 0;
  height: 3em;
}
/* line 288, ../sass/_home.scss */
.section-about .about-link .ion-ios-arrow-thin-right {
  font-size: 30px;
}
/* line 292, ../sass/_home.scss */
.section-about .portfolio {
  position: absolute;
  right: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 292, ../sass/_home.scss */
  .section-about .portfolio {
    bottom: 3em;
    left: 0;
    right: 0;
  }
}
/* line 300, ../sass/_home.scss */
.section-about .portfolio ul {
  list-style: none;
}
/* line 302, ../sass/_home.scss */
.section-about .portfolio ul li {
  transform: rotate(90deg);
  padding: 3em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 302, ../sass/_home.scss */
  .section-about .portfolio ul li {
    transform: none;
    float: left;
    padding: 0 0.75em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 310, ../sass/_home.scss */
  .section-about .portfolio ul li:first-child {
    padding-left: 0;
  }
}
/* line 315, ../sass/_home.scss */
.section-about .portfolio ul li a {
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}
/* line 320, ../sass/_home.scss */
.section-about .portfolio ul li a:hover {
  color: #0c8141;
  transition: 0.5s;
}

/* line 330, ../sass/_home.scss */
.section-offer {
  z-index: 100;
  background: #181b23;
  padding-top: 3em;
}
/* line 334, ../sass/_home.scss */
.section-offer .section-heading {
  color: #fff;
  font-size: 2em;
}
/* line 338, ../sass/_home.scss */
.section-offer .item {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0 3em;
}
/* line 343, ../sass/_home.scss */
.section-offer .item .icon img {
  width: 3em;
}

/* line 350, ../sass/_home.scss */
.section-skills {
  padding: 5em 0;
  background: #12141a;
  z-index: 10;
}
/* line 354, ../sass/_home.scss */
.section-skills .item {
  padding: 0 5em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 354, ../sass/_home.scss */
  .section-skills .item {
    padding: 0 1em;
  }
}
/* line 359, ../sass/_home.scss */
.section-skills .item .item-heading {
  font-family: "Montserrat-SemiBold";
  margin: 2em auto;
  color: #fff;
}
/* line 364, ../sass/_home.scss */
.section-skills .item .item-avatar {
  padding: 3em;
  border-radius: 7px;
}
/* line 368, ../sass/_home.scss */
.section-skills .item .item-desc {
  line-height: 1.8;
  color: #fff;
  letter-spacing: 0.5px;
}

/* line 376, ../sass/_home.scss */
.cta-section {
  padding: 3em 0;
  color: #fff;
}
/* line 379, ../sass/_home.scss */
.cta-section .cta-btn {
  padding: 1.2em 2em;
  display: inline-block;
  color: #fff;
  background: #1d262a;
  font-size: 1.2em;
  margin: 2em auto;
  text-decoration: none;
  z-index: 999;
  position: absolute;
}
/* line 389, ../sass/_home.scss */
.cta-section .cta-btn:hover {
  text-decoration: none;
  background: #080b0c;
  transition: 0.2s;
}

/* line 396, ../sass/_home.scss */
#technologies {
  padding-top: 6em;
}

/* line 399, ../sass/_home.scss */
.section-team,
.technologies {
  padding: 6em 0;
  display: flex;
  align-items: center;
  background: #181b23;
  min-height: 1;
  height: auto;
  z-index: 10;
}
/* line 408, ../sass/_home.scss */
.section-team .section-heading,
.technologies .section-heading {
  /*padding-right: 1.5em;*/
  margin: 0.5em auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 408, ../sass/_home.scss */
  .section-team .section-heading,
  .technologies .section-heading {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 415, ../sass/_home.scss */
  .section-team .team-lg,
  .technologies .team-lg {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 415, ../sass/_home.scss */
  .section-team .team-lg,
  .technologies .team-lg {
    display: none;
  }
}
/* line 424, ../sass/_home.scss */
.section-team #team-xs,
.technologies #team-xs {
  width: 100vw;
}
/* line 427, ../sass/_home.scss */
.section-team .team-list,
.section-team .tech-list,
.technologies .team-list,
.technologies .tech-list {
  margin-top: 3em;
}
/* line 430, ../sass/_home.scss */
.section-team .team-list .team-member,
.section-team .tech-list .team-member,
.technologies .team-list .team-member,
.technologies .tech-list .team-member {
  margin-top: 2em;
  background: #000;
}
/* line 433, ../sass/_home.scss */
.section-team .team-list .team-member .name,
.section-team .tech-list .team-member .name,
.technologies .team-list .team-member .name,
.technologies .tech-list .team-member .name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  color: #fff;
}
/* line 443, ../sass/_home.scss */
.section-team .team-list .team-member .name p,
.section-team .tech-list .team-member .name p,
.technologies .team-list .team-member .name p,
.technologies .tech-list .team-member .name p {
  font-family: "OpenSans-Light";
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 446, ../sass/_home.scss */
  .section-team .team-list .team-member .name h3,
  .section-team .tech-list .team-member .name h3,
  .technologies .team-list .team-member .name h3,
  .technologies .tech-list .team-member .name h3 {
    font-size: 20px;
  }
}
/* line 453, ../sass/_home.scss */
.section-team .team-list .team-member:hover img,
.section-team .tech-list .team-member:hover img,
.technologies .team-list .team-member:hover img,
.technologies .tech-list .team-member:hover img {
  transition: ease-in 0.3s all;
  opacity: 0.4;
}
/* line 457, ../sass/_home.scss */
.section-team .team-list .team-member:hover .name,
.section-team .tech-list .team-member:hover .name,
.technologies .team-list .team-member:hover .name,
.technologies .tech-list .team-member:hover .name {
  opacity: 1;
}

/* line 465, ../sass/_home.scss */
.section-testimony {
  padding: 3em;
}
/* line 467, ../sass/_home.scss */
.section-testimony .testimony-content {
  font-family: "OpenSans-LightItalic";
  line-height: 1.8;
  width: 75%;
  margin: 2em auto;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 467, ../sass/_home.scss */
  .section-testimony .testimony-content {
    width: 100%;
  }
}
/* line 477, ../sass/_home.scss */
.section-testimony .author {
  margin-top: 1em;
  display: inline-block;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 477, ../sass/_home.scss */
  .section-testimony .author {
    width: 100%;
    padding-left: 3em;
  }
}
/* line 485, ../sass/_home.scss */
.section-testimony .author .avatar {
  display: inline-block;
  width: 4em;
  float: none;
  margin-right: 1em;
  position: absolute;
  right: 5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 485, ../sass/_home.scss */
  .section-testimony .author .avatar {
    right: 9em;
  }
}
/* line 495, ../sass/_home.scss */
.section-testimony .author .avatar .photo {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  background-size: cover;
  margin-right: 1em;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 495, ../sass/_home.scss */
  .section-testimony .author .avatar .photo {
    margin-right: 16px;
    width: 3em;
    height: 3em;
  }
}
/* line 509, ../sass/_home.scss */
.section-testimony .author-details {
  display: inline-block;
}
/* line 511, ../sass/_home.scss */
.section-testimony .author-details .name {
  font-family: "Raleway-SemiBold";
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
}
/* line 517, ../sass/_home.scss */
.section-testimony .author-details .company {
  color: #fff;
}

/* line 524, ../sass/_home.scss */
.projects {
  height: auto;
  padding: 10em 0;
  min-height: 1;
}
/* line 528, ../sass/_home.scss */
.projects .project-item {
  padding-top: 2em;
  position: relative;
}
/* line 532, ../sass/_home.scss */
.projects .down-item {
  margin-bottom: 1.5em;
}
/* line 535, ../sass/_home.scss */
.projects .up-item {
  margin-bottom: 1.5em;
}
/* line 538, ../sass/_home.scss */
.projects .image-container {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 194px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  border: none;
  transition: border ease-in 0.2s, background ease-in 0.2s;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 538, ../sass/_home.scss */
  .projects .image-container {
    width: 290px;
    height: 184px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  /* line 538, ../sass/_home.scss */
  .projects .image-container {
    width: 360px;
    height: 234px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 538, ../sass/_home.scss */
  .projects .image-container {
    width: 340px;
    height: 222px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  /* line 538, ../sass/_home.scss */
  .projects .image-container {
    width: 300px;
    height: 194px;
  }
}
/* line 567, ../sass/_home.scss */
.projects .image {
  width: 290px;
  height: 184px;
  z-index: 1;
  transition: all .5s;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 567, ../sass/_home.scss */
  .projects .image {
    width: 300px;
    height: 194px;
  }
}
@media (min-width: 1440px) {
  /* line 567, ../sass/_home.scss */
  .projects .image {
    width: 360px;
    height: 234px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 567, ../sass/_home.scss */
  .projects .image {
    width: 340px;
    height: 222px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  /* line 567, ../sass/_home.scss */
  .projects .image {
    width: 300px;
    height: 194px;
  }
}
/* line 589, ../sass/_home.scss */
.projects .image img {
  max-width: 100%;
}
/* line 592, ../sass/_home.scss */
.projects .caption {
  width: 300px;
  height: 194px;
  height: 0;
  z-index: 2;
  font-weight: 300;
  transition: all .5s;
  color: #1d262a;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 592, ../sass/_home.scss */
  .projects .caption {
    width: 290px;
    height: 184px;
  }
}
@media (min-width: 1440px) {
  /* line 592, ../sass/_home.scss */
  .projects .caption {
    width: 360px;
    height: 234px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  /* line 592, ../sass/_home.scss */
  .projects .caption {
    width: 300px;
    height: 194px;
  }
}
/* line 613, ../sass/_home.scss */
.projects .caption-num2 {
  transform: translateY(100px);
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 613, ../sass/_home.scss */
  .projects .caption-num2 {
    transform: translateY(20px);
  }
}
/* line 618, ../sass/_home.scss */
.projects .caption-num2 .title {
  font-family: "Montserrat-SemiBold";
}
/* line 621, ../sass/_home.scss */
.projects .caption-num2 .bar {
  margin: 0 auto;
  background: #92a9b4;
  height: 1px;
}
/* line 626, ../sass/_home.scss */
.projects .caption-num2 .list {
  height: 0;
  list-style: none;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 626, ../sass/_home.scss */
  .projects .caption-num2 .list {
    opacity: 0;
  }
}
/* line 633, ../sass/_home.scss */
.projects .caption-num2 .list li {
  margin: 0.5em 0;
  font-size: 0.9em;
  font-family: "OpenSans-Light";
}
/* line 640, ../sass/_home.scss */
.projects .image-container-num2:hover .image-num2 {
  opacity: .8;
  transform: translateY(-10%) translateY(-100%);
}
/* line 644, ../sass/_home.scss */
.projects .image-container-num2:hover .caption-num2 {
  transform: translateY(-192px);
}
@media (min-width: 1440px) {
  /* line 644, ../sass/_home.scss */
  .projects .image-container-num2:hover .caption-num2 {
    transform: translateY(-220px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 644, ../sass/_home.scss */
  .projects .image-container-num2:hover .caption-num2 {
    transform: translateY(-202px);
  }
}
/* line 652, ../sass/_home.scss */
.projects .image-container-num2:hover .caption-num2 .title {
  margin: 1em 0;
}
/* line 655, ../sass/_home.scss */
.projects .image-container-num2:hover .caption-num2 .list {
  margin-top: 15px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 655, ../sass/_home.scss */
  .projects .image-container-num2:hover .caption-num2 .list {
    opacity: 1;
  }
}
/* line 661, ../sass/_home.scss */
.projects .image-container-num2:hover .caption-num2 .project-link {
  position: absolute;
  right: 15px;
  padding: 1px 16px;
  font-size: 1.2em;
  color: #475d66;
  top: -15px;
}
/* line 670, ../sass/_home.scss */
.projects .view-project {
  background: #09182b;
  padding: 16px 20px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat-SemiBold";
  display: inline-block;
}

/* line 681, ../sass/_home.scss */
.technologies {
  padding: 3em 0;
}
/* line 684, ../sass/_home.scss */
.technologies .tech-list .tech-item {
  width: 16.66%;
  text-align: center;
  margin: 2em auto;
  float: left;
  padding: 3em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 684, ../sass/_home.scss */
  .technologies .tech-list .tech-item {
    padding: 2em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 684, ../sass/_home.scss */
  .technologies .tech-list .tech-item {
    width: 25%;
    padding: 1em;
  }
}

/* line 701, ../sass/_home.scss */
.contact-xs {
  background: #181b23;
  color: #fff;
}

/* line 706, ../sass/_home.scss */
footer {
  padding: 1em 0 0.5em;
  background: #181b23;
  font-family: "OpenSans-Semibold";
  color: #999;
}

/* line 713, ../sass/_home.scss */
.object-hover {
  transition: ease-in-out 0.5s;
}
/* line 715, ../sass/_home.scss */
.object-hover:hover {
  transform: translate3d(2%, -2%, 0);
}
