#page-wrapper {
    color: $white;
    padding-top: 14px;

    #company-logo {
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .member-content {
        padding-top: 20px;
    }
}
