<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h3>Message Received:</h3>
  <div>
    <label>Sender:</label>
      <div>
        <p>{{ data.sender }}</p>
      </div>
    <label>Email:</label>
      <div>
        <p>{{ data.email }}</p>
      </div>
    <label>Company:</label>
      <div>
        <p>{{ data.company }}</p>
      </div>
    <label>Phone:</label>
      <div>
        <p>{{ data.phone }}</p>
      </div>
    <label>Message:</label>
      <div>
        <p>{{ data.message }}</p>
      </div>
  </div>
</body>
</html>