{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Web Application Development Services - Python, Django, Angular JS, API | Swiftkind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'theme/favicon.png' %}">
  <meta name="description" content="Swiftkind is an in-house Python development company primarily using Python, Django and Angular JS. Located in Davao City, Philippines." />
  <meta name="author" content="Resty Antiquin" />

  <base href="/">

  <link rel="stylesheet" type="text/css" href="{% static 'theme/css/ionicons.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/dist/owl-carousel/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/dist/owl-carousel/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/dist/animate/css/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/dist/hover/css/hover.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/css/bootstrap.css' %}">  

  <!-- Custom styles for members page only, extended from main styles with additional element style changes. -->
  <link rel="stylesheet" type="text/css" href="{% static 'theme/css/member.css' %}">
</head>

<body>
  <div id="page-wrapper">
    <div class="content-wrapper">
      <div class="container">
        <h1>Hello</h1>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="{% static 'theme/js/jquery-2.1.4.js' %}"></script>
  <script type="text/javascript" src="{% static 'theme/dist/owl-carousel/js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'theme/dist/wow/js/wow.min.js' %}"></script>
</body>
</html>