$white: #fff;
$black-pearl: #09182b;
$tangaroa: #0d2038;
$nero: #252525;
$turquoise: #25e8f4;
$yellow: #fcbb3b;
$pink: #ff6685;
$primary-green: #40e74c;
$dark-green: #0e1915;
$dark-grey: #1d262a;

