.nav-list {
    // position: -webkit-sticky;
    // position: sticky;
    top: 8em;
    position: fixed;
    top: 0;
    ul {
        &.affix {
            opacity: 1;
        }
    }
    ul {
        opacity: 0;
        text-align: right;
        padding: 0;
        list-style: none;
        li {
            border-right: solid 1.5px #293746;
            position: relative;
            padding: 1.5em 1em;
            font-size: 1em;
            transition: padding 0.5s;
            &::before {
                content: "";
                background-color: #293746;
                position: absolute;
                width: 10px;
                height: 10px;
                right: -5px;
                border-radius: 50%;
                margin-top: 4px;
            }
            span {
                margin-top: -2px;
                font-size: 12px;
                margin-right: 2em;
                font-family: $Futura-Std-Medium;
                color: #293746;
            }
            a {
                color: #4d5254;
                padding: 0;
                &:hover {
                    background-color: none;
                }
            }
            &.active {
                padding-bottom: 4em;
                &::before {
                    background-color: $primary-green;
                }
                span {
                    color: $primary-green;
                }
                &::after {
                    content: "";
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    opacity: 1;
                    border: solid 1.5px #293746;
                    right: -12.4px;
                    position: absolute;
                    top: 17.5px;
                }
                a {
                    background: none;
                    color: $primary-green;
                }
            }
        }
    }
}

nav {
    &.navbar {
        margin-bottom: 0;
        background: #12141a;
        border-radius: 0;
        padding: 1em 3em 2em;
        z-index: 450;
        position: fixed;
        width: 100%;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: padding;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        @include mobile {
            height: 4em;
            -webkit-transition-property: height;
            -moz-transition-property: height;
            transition-property: height;
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
        }
        a {
            img {
                width: 150px;
            }
        }
        .navbar-header {
            margin-top: 11px;
            width: 100%;
            position: absolute;
            z-index: 400;
            a {
                text-decoration: none;
            }
            @include mobile {
                margin: 0;
            }
        }
        .nav-links {
            text-align: center;
            webkit-overflow-scrolling: touch;
            -webkit-transform: translateY(-200%);
            -moz-transform: translateY(-200%);
            -ms-transform: translateY(-200%);
            -o-transform: translateY(-200%);
            transform: translateY(-200%);
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            transition-property: transform;
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            &.open {
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                @include mobile {
                    -webkit-transform: translateY(100%);
                    -moz-transform: translateY(100%);
                    -ms-transform: translateY(100%);
                    -o-transform: translateY(100%);
                    transform: translateY(100%);
                }
            }
            ul {
                list-style: none;
                padding: 0;
                width: 100%;
                li {
                    padding: 1.5em 0 1.5em 2.5em;
                    display: inline;
                    @include mobile {
                        display: block;
                        padding: 1em 0;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    a {
                        color: #eee;
                        text-decoration: none;
                        letter-spacing: 1px;
                        &:hover {
                            color: $primary-green;
                        }
                    }
                }
            }
        }
        &.active {
            position: fixed;
            transition: ease-in 0.5s all;
            width: 100%;
            color: $white;
            border: none;
            background: #12141a;
            path {
                stroke: $white;
            }
            .nav-logo {
                // display: block;
                width: 3em;
                margin: 0 auto;
            }
            .contact-trigger {
                color: $white;
            }
            .menu {
                display: none;
            }
            .envelop {
                stroke: $white;
            }
            .menu-trigger {
                .logo {
                    display: inline-block;
                    background: {
                        image: url(../images/logo-active.png);
                        size: cover;
                    }
                    width: 100px;
                    height: 30px;
                }
            }
            .nav-links {
                z-index: 10;
                text-align: center;
                ul {
                    li {
                        a {
                            color: $white;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .contact-trigger {
            color: #fff;
            font-size: 14px;
            padding: 12px 20px 12px;
            margin-right: 4em;
            @include mobile {
                padding: 12px 0px 0px;
                margin-right: 5.5em;
            }
        }
        .text-logo {
            color: $white!important;
            font-size: 1.5em;
            margin-top: -3px;
            position: absolute;
            @include mobile {
                margin: -3px 0 0;
            }
        }
        .menu-trigger {
            height: 30px;
            .logo {
                display: none;
                img {
                    margin-top: -13px;
                    width: 110px;
                }
            }
        }
        .menu {
            color: #898989;
            margin-top: -25px;
            text-decoration: none;
            position: absolute;
            margin-left: 35px;
            font-size: 12px;
        }
        .hamburger {
            display: inline-block;
        }
        svg {
            width: 30px;
            height: 25px;
        }
        path {
            fill: none;
            stroke-width: 2px;
            stroke: $white;
            stroke-dashoffset: 0px;
            transition: stroke-dashoffset .5s cubic-bezier(0.250, -0.250, 0.750, 1.250), stroke-dasharray .5s cubic-bezier(0.250, -0.250, 0.750, 1.250);
            &#top,
            &#bottom {
                stroke-dasharray: 20px 60px;
            }
            &#middle {
                stroke-dasharray: 20px 20px;
            }
        }
        .open {
            path#top,
            path#bottom {
                stroke-dashoffset: -50px;
            }
            path#middle {
                stroke-dashoffset: -10px;
                stroke-dasharray: 0px 10px;
            }
        }
    }
}

.scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8em;
    @include mobile {
        bottom: 6em;
    }
}

.arrow {
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-top: 3em;
    animation-timing-function: ease-out;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    a {
        color: $white;
    }
}

@keyframes arrow {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

#page-wrapper {
    &.open {
        transition: ease all 0.5s;
        @include mobile {
            overflow-y: hidden;
        }
        .navbar {
            &.active {
                background: #12141a;
                a {
                    color: $white;
                    text-decoration: none;
                }
                .logo {
                    display: inline-block;
                    background: {
                        image: url(../images/logo.png);
                        size: cover;
                    }
                    width: 100px;
                    height: 30px;
                }
                .hamburger {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
        .right-sidebar {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            transition-property: transform;
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            @include mobile {
                overflow-y: auto;
                right: 0;
                z-index: 500;
                padding: 0;
            }
        }
        .contact-trigger {
            opacity: 0;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            transition-property: opacity;
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
        }
        .close-contact {
            color: $white;
            opacity: 0;
            @include mobile {
                margin-right: 1em;
                opacity: 1;
                font-size: 14px;
            }
        }
    }
    .right-sidebar {
        .content {
            overflow-x: auto;
            display: flex;
            align-items: center;
            height: 100%;
            color: #e9eaeb;
            font-family: $Raleway-Light;
            @include mobile {
                display: block;
                padding: 0 2em 2em;
            }
            .address,
            .phone {
                font-family: $OpenSans-Light;
            }
            .contact-heading {
                font-family: $Montserrat-Light;
            }
            .title {
                letter-spacing: 5px;
                margin-top: 5em;
            }
            h2 {
                @include mobile {
                    font-size: 25px;
                }
            }
        }
        display: block;
        position: fixed;
        top: 0;
        z-index: 310;
        width:100%;
        height: 100%;
        background: #12141a;
        transition:ease-in-out all 0.5s;
        webkit-overflow-scrolling: touch;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        @include mobile {
            top: 0;
            right: 0;
        }
        p {}
        .form-control {
            height: 50px;
            background: none;
            border: none;
            box-shadow: none;
            border-radius: 0;
            color: #a8adaf;
            border-bottom: #0d1c23 solid 2px;
            margin-bottom: 1em;
        }
    }
}

.content-wrapper {
    &.left-open {
        @include mobile {
            overflow-y: hidden;
        }
        .navbar {
            padding: 4em 3em 2em;
            -webkit-transition-property: all;
            -moz-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            @include mobile {
                padding: 1em 3em 2em;
                overflow-y: hidden;
                height: 100%;
                -webkit-transition-property: all;
                -moz-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.4s;
                -moz-transition-duration: 0.4s;
            }
            @include tablet {
                .text-logo {
                    opacity: 0;
                    -webkit-transition-property: all;
                    -moz-transition-property: all;
                    transition-property: all;
                    -webkit-transition-duration: 0.4s;
                    -moz-transition-duration: 0.4s;
                }
            }
        }
    }
}

.send {
    button {
        border-radius: 0;
        background: #2b2c38;
        padding: 1em 5em;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            background: darken(#2b2c38, 10%);
            transition: 0.2s ease;
            color: $white;
            outline: none;
        }
        &:active {
            &:focus {
                outline: none;
                background: darken(#2b2c38, 20%);
                transition: 0.2s ease;
            }
        }
    }
    @include mobile {
        text-align: center;
    }
}
