#page-wrapper {
    overflow-x: hidden;
}

.masthead {
    width: 100%;
    background: #12141a;
    color: $white;
    display: table;
    .masthead-content {
        height: 100vh;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        .content-text {
            .site-logo {
                img {
                    width: 300px;
                    margin: 0 auto 4em;
                }
            }
            .cta {
                color: $white;
                background: #09182b;
                padding: 15px 25px;
                border-radius: 50px;
                margin-top: 3em;
                font-size: 1.2em;
                font-family: $Montserrat-Light;
                text-decoration: none;
                &:hover {
                    background: darken(#09182b, 2%);
                    transition: 0.3s ease;
                }
            }
            .section-heading {
                color: $white;
                font-family: $Montserrat-Light;
                width: 55%;
                @include desktop {
                    width: 70%;
                }
                @include tablet {
                    width: 75%;
                }
            }
            .sub-heading {
                margin: 2em 0;
            }
        }
        @-webkit-keyframes scroll-inner {
            from {
                margin-top: 15%;
            }
            to {
                margin-top: 50%;
            }
        }
        @keyframes scroll-inner {
            from {
                margin-top: 15%;
            }
            to {
                margin-top: 50%;
            }
        }
        @-webkit-keyframes scroll-mouse {
            from {
                margin-top: 0;
            }
            to {
                margin-top: 15px;
            }
        }
        @keyframes scroll-mouse {
            from {
                margin-top: 0;
            }
            to {
                margin-top: 15px;
            }
        }
        div.mouse-container {
            position: relative;
            display: block;
            height: 100px;
        }
        div.mouse {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 30px;
            height: 50px;
            border: solid 2px #fff;
            border-radius: 25px;
            -webkit-animation: scroll-mouse 1.5s;
            animation: scroll-mouse 1.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
        div.mouse span.scroll-down {
            display: block;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 50%;
            margin: 15% auto auto auto;
            -webkit-animation: scroll-inner 1.5s;
            animation: scroll-inner 1.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
        }
    }
}

.section {
    min-height: 100vh;
}

.section-2 {
    background: #f9f9f9;
}

.section-full {
    height: 100vh;
    width: 100%;
}

.section-heading {
    font-size: 3.1em;
    font-family: $Montserrat-Bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #122132;
}

.section-sub-heading {
    color: $primary-green;
    font-family: $OpenSans-Semibold;
}

.section-text {
    font-size: 1.2em;
    line-height: 2;
}

.bar {
    display: block;
    background: $primary-green;
    width: 3em;
    height: 0.3em;
    margin: 1.5em 0 2.5em;
}

.section-main-img {
    width: 100%;
}

.section-offer {
    z-index: 100;
    background: #1d262a;
    .section-title {
        position: absolute;
        margin: 0 auto;
        z-index: 3;
        left: 0;
        right: 0;
        padding: 5em 0;
        z-index: 150;
        .section-heading {
            color: $white;
        }
    }
}

.section-skills {
    padding: 5em 0;
    .item {
        padding: 0 5em;
        .item-heading {
            font-family: $Montserrat-SemiBold;
            margin: 2em auto;
        }
        .item-avatar {
            border: solid 2px #a6dbee;
            padding: 3em;
            border-radius: 7px;
        }
        .item-desc {
            line-height: 1.8;
        }
    }
}
.cta-section{
    padding: 3em 0;
    .cta-btn{
        padding: 1.2em 2em;
        display: inline-block;
        color: $white;
        background: $dark-grey;
        font-size: 1.2em;
        margin: 2em auto;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            background: darken($dark-grey, 10%);
            transition: 0.2s;
        }
    }
}
.section-team,
.technologies {
    display: flex;
    align-items: center;
    background: #dbe9fc;
    padding: 3em 0;
    min-height: 1;
    height: auto;
    .section-heading {
        padding-right: 1.5em;
        margin: 0.5em auto;
    }
    .team-list,
    .tech-list {
        margin-top: 3em;
        .team-member,
        {
            text-align: center;
            margin: 2em auto;
            width: 20%;
            float: left;
            .member-name {
                font-family: $Raleway-SemiBold;
                font-size: 14px;
            }
            .job-title {
                font-size: 12px;
            }
        }
    }
}

.section-testimony {
    padding: 3em;
    .testimony-content {
        font-family: $OpenSans-LightItalic;
        line-height: 1.8;
        width: 75%;
        margin: 2em auto;
    }
    .author {
        margin-top: 1em;
        display: inline-block;
        .avatar {
            display: inline-block;
            width: 4em;
            float: left;
            margin-right: 1em;
        }
    }
    .author-details {
        display: inline-block;
        .name {
            font-family: $Raleway-SemiBold;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .company {
            .company-logo {}
        }
    }
}

.projects {
    height: auto;
    background: #f8f8f8;
    padding: 10em 0;
    min-height: 1;
    .project-item {
        padding-top: 2em;
        position: relative;
    }
    .down-item {
        margin-bottom: 1.5em;
    }
    .image-container {
        display: inline-block;
        position: relative;
        width: 360px;
        height: 234px;
        overflow: hidden;
        background: $white;
        cursor: pointer;
        border: solid 2px #f8f8f8;
        transition: border ease-in 0.2s, background ease-in 0.2s;
    }
    .image {
        width: 360px;
        height: 234px;
        z-index: 1;
        transition: all .5s;
    }
    .image img {
        max-width: 100%;
    }
    .caption {
        width: 360px;
        height: 234px;
        height: 0;
        z-index: 2;
        font-weight: 300;
        transition: all .5s;
        color: $dark-grey;
    }
    .caption-num2 {
        transform: translateY(100px);
        .title {
            font-family: $Montserrat-SemiBold;
        }
        .bar {
            margin: 0 auto;
            background: lighten($dark-grey, 50%);
            height: 1px;
        }
        .list {
            height: 0;
            list-style: none;
            padding: 0;
            li {
                margin: 0.5em 0;
                font-size: 0.9em;
                font-family: $OpenSans-Light;
            }
        }
    }
    .image-container-num2:hover {
        border: solid 2px $primary-green;
    }
    .image-container-num2:hover .image-num2 {
        opacity: .8;
        transform: translateY(-10%) translateY(-100%);
    }
    .image-container-num2:hover .caption-num2 {
        transform: translateY(-220px);
        .title {
            margin: 1em 0;
        }
        .list {
            margin-top: 15px;
        }
        .project-link {
            position: absolute;
            right: 15px;
            padding: 1px 16px;
            font-size: 1.2em;
            color: lighten($dark-grey, 20%);
            top: -15px;
        }
    }
    .view-project {
        background: #09182b;
        padding: 16px 20px;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        font-family: $Montserrat-SemiBold;
        display: inline-block;
    }
}

.technologies {
    padding: 3em 0;
    background: #e7f5fa;
    .tech-list {
        .tech-item {
            width: 16.66%;
            text-align: center;
            margin: 2em auto;
            float: left;
            padding: 3em;
        }
    }
}

footer{
    padding: 1em 0 0.5em;
    background:#e8e8e8;
    font-family: $OpenSans-Semibold;
    color: #999;
}