#page-wrapper {
    background: #12141a;
}

#canvas1 {
    width: 100%!important;
    height: 100vh;
    position: fixed;
    top: 0;
}

.masthead {
    width: 100%;
    background: #12141a;
    color: $white;
    padding-top: 6em;
    @include mobile {
        padding-top: 3em;
    }
    @include desktop-lg{
        padding-top: 10em;
    }
    .masthead-content {
        width: 100%;
        .content-text {
            .site-logo {
                img {
                    width: 150px;
                    margin: 4em auto 4em;
                    @include mobile {
                        width: 100px;
                    }
                }
            }
            .cta {
                color: $white;
                background: #09182b;
                padding: 15px 25px;
                border-radius: 50px;
                margin-top: 3em;
                font-size: 1.2em;
                font-family: $Montserrat-Light;
                text-decoration: none;
                &:hover {
                    background: darken(#09182b, 2%);
                    transition: 0.3s ease;
                }
            }
            .section-heading {
                color: $white;
                font-family: $OpenSans-Light;
                width: 55%;
                font-size: 35px;
                @include desktop {
                    width: 70%;
                }
                @include tablet {
                    width: 75%;
                }
                @include mobile {
                    width: 100%;
                    font-size: 20px;
                }
            }
            .sub-heading {
                margin: 2em 0;
            }
        }
        @-webkit-keyframes scroll-inner {
            from {
                margin-top: 15%;
            }
            to {
                margin-top: 50%;
            }
        }
        @keyframes scroll-inner {
            from {
                margin-top: 15%;
            }
            to {
                margin-top: 50%;
            }
        }
        @-webkit-keyframes scroll-mouse {
            from {
                margin-top: 0;
            }
            to {
                margin-top: 15px;
            }
        }
        @keyframes scroll-mouse {
            from {
                margin-top: 0;
            }
            to {
                margin-top: 15px;
            }
        }
        div.mouse-container {
            position: relative;
            display: block;
            height: 100px;
        }
        div.mouse {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 30px;
            height: 50px;
            border: solid 2px #fff;
            border-radius: 25px;
            -webkit-animation: scroll-mouse 1.5s;
            animation: scroll-mouse 1.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
        div.mouse span.scroll-down {
            display: block;
            width: 4px;
            height: 10px;
            background: #fff;
            border-radius: 2px;
            margin: 15% auto auto auto;
            -webkit-animation: scroll-inner 1.5s;
            animation: scroll-inner 1.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
        }
    }
}

.nav-logo {
    display: none;
}

.right-column {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
}

.main-column {
    overflow-y: auto;
    width: 80%;
}

.section {
    min-height: 100vh;
}

.section-2 {
    background: #f9f9f9;
}

.section-full {
    height: 100vh;
    width: 100%;
}

.section-heading {
    font-size: 300%;
    font-family: $Raleway-Light;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4;
    color: $white;
    @include mobile {
        font-size: 200%;
    }
}

.nav-stacked {
    position: fixed;
    top: 20%;
}

.section-sub-heading {
    color: #0d8040;
    font-family: $OpenSans-Semibold;
}

.section-text {
    font-size: 1.2em;
    line-height: 2;
    color: $white;
    letter-spacing: 0.5px;
    font-family: "HelveticaNeue Thin", Arial, sans-serif;
    @include mobile {
        line-height: 1.6;
    }
}

.bar {
    display: block;
    background: #0d8040;
    width: 3em;
    height: 0.3em;
    margin: 1.5em 0 2.5em;
}

.section-main-img {
    width: 100%;
}

.user-centered {
    background: #244144;
    width: 100%;
    position: relative;
    padding: 4em;
    display: inline-flex;
    align-items: baseline;
    @include mobile {
        padding: 2em;
    }
    @include tablet {
        padding: 2em;
    }
    &.user-2{
        background:#1b9a7d;
    }
    .image {}
    .img-1 {
        width: 40%;
        z-index: 3;
        margin-left: -4em;
        @include mobile {
            width: 100%;
            margin: 0;
        }
        @include tablet {
            margin-left: -2em;
        }
    }
    .img-2 {
        width: 35%;
        z-index: 2;
        @include mobile {
            width: 100%;
            margin: 0;
        }
    }
    .img-3 {
        width: 25%;
        z-index: 1;
        margin-right: -3em;
        margin-left: 4em;
        @include mobile {
            width: 60%;
            margin: 0;
        }
        @include tablet {
            margin-right: -1em;
            margin-left: 2em;
        }
    }
}

.section-about {
    display: flex;
    align-items: center;
    position: relative;
    .section-heading {
        @include mobile {
            font-size: 24px;
        }
    }
    .description {
        font-size: 25px;
        font-family: "HelveticaNeue Thin", Arial, sans-serif;
        color: $white;
        letter-spacing: 0.5px;
        line-height: 40px;
        @include mobile {
            font-size: 16px;
            line-height: 1.4;
        }
    }
    .about-link {
        display: inline-flex;
        right: 0;
        height: 3em;
        .ion-ios-arrow-thin-right {
            font-size: 30px;
        }
    }
    .portfolio {
        position: absolute;
        right: 0;
        @include mobile {
            bottom: 3em;
            left: 0;
            right: 0;
        }
        ul {
            list-style: none;
            li {
                transform: rotate(90deg);
                padding: 3em;
                @include mobile {
                    transform: none;
                    float: left;
                    padding: 0 0.75em;
                }
                &:first-child {
                    @include mobile {
                        padding-left: 0;
                    }
                }
                a {
                    color: #aaa;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-size: 0.9em;
                    &:hover {
                        color: $primary-green;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

.section-offer {
    z-index: 100;
    background: #181b23;
    padding-top: 3em;
    .section-heading {
        color: $white;
        font-size: 2em;
    }
    .item {
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 0 3em;
        .icon {
            img {
                width: 3em;
            }
        }
    }
}

.section-skills {
    padding: 5em 0;
    background: #12141a;
    z-index: 10;
    .item {
        padding: 0 5em;
        @include tablet {
            padding: 0 1em;
        }
        .item-heading {
            font-family: $Montserrat-SemiBold;
            margin: 2em auto;
            color: $white;
        }
        .item-avatar {
            padding: 3em;
            border-radius: 7px;
        }
        .item-desc {
            line-height: 1.8;
            color: $white;
            letter-spacing: 0.5px;
        }
    }
}

.cta-section {
    padding: 3em 0;
    color: $white;
    .cta-btn {
        padding: 1.2em 2em;
        display: inline-block;
        color: $white;
        background: $dark-grey;
        font-size: 1.2em;
        margin: 2em auto;
        text-decoration: none;
        z-index: 999;
        position: absolute;
        &:hover {
            text-decoration: none;
            background: darken($dark-grey, 10%);
            transition: 0.2s;
        }
    }
}
#technologies{
    padding-top: 6em;
}
.section-team,
.technologies {
    padding: 6em 0;
    display: flex;
    align-items: center;
    background: #181b23;
    min-height: 1;
    height: auto;
    z-index: 10;
    .section-heading {
        /*padding-right: 1.5em;*/
        margin: 0.5em auto;
        @include mobile {
            padding: 0;
        }
    }
    .team-lg {
        @include mobile {
            display: none;
        }
        @include tablet{
            display: none;
        }

    }
    #team-xs {
        width: 100vw;
    }
    .team-list,
    .tech-list {
        margin-top: 3em;
        .team-member {
            margin-top: 2em;
            background: #000;
            .name {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                opacity: 0;
                color: $white;
                p {
                    font-family: $OpenSans-Light;
                }
                h3 {
                    @include mobile {
                        font-size: 20px;
                    }
                }
            }
            &:hover {
                img {
                    transition: ease-in 0.3s all;
                    opacity: 0.4;
                }
                .name {
                    opacity: 1;
                }
            }
        }
    }
}

.section-testimony {
    padding: 3em;
    .testimony-content {
        font-family: $OpenSans-LightItalic;
        line-height: 1.8;
        width: 75%;
        margin: 2em auto;
        color: $white;
        @include mobile {
            width: 100%;
        }
    }
    .author {
        margin-top: 1em;
        display: inline-block;
        position: relative;
        @include mobile {
            width: 100%;
            padding-left: 3em;
        }
        .avatar {
            display: inline-block;
            width: 4em;
            float: none;
            margin-right: 1em;
            position: absolute;
            right: 5em;
            @include mobile {
                right: 9em;
            }
            .photo {
                position: absolute;
                width: 3.5em;
                height: 3.5em;
                background-size: cover;
                margin-right: 1em;
                @include mobile {
                    margin-right: 16px;
                    width: 3em;
                    height: 3em;
                }
            }
        }
    }
    .author-details {
        display: inline-block;
        .name {
            font-family: $Raleway-SemiBold;
            font-size: 16px;
            margin-bottom: 5px;
            color: $white;
        }
        .company {
            color: $white;
            .company-logo {}
        }
    }
}

.projects {
    height: auto;
    padding: 10em 0;
    min-height: 1;
    .project-item {
        padding-top: 2em;
        position: relative;
    }
    .down-item {
        margin-bottom: 1.5em;
    }
    .up-item {
        margin-bottom: 1.5em;
    }
    .image-container {
        display: inline-block;
        position: relative;
        width: 300px;
        height: 194px;
        overflow: hidden;
        background: $white;
        cursor: pointer;
        border: none;
        transition: border ease-in 0.2s, background ease-in 0.2s;
        @include mobile {
            width: 290px;
            height: 184px;
            margin-left: auto;
            margin-right: auto;
        }
        @include desktop-lg {
            width: 360px;
            height: 234px;
        }
        @include tablet {
            width: 340px;
            height: 222px;
        }
        @include desktop{
             width: 300px;
        height: 194px;
        }
    }
    .image {
        width: 290px;
        height: 184px;
        z-index: 1;
        transition: all .5s;
        @include mobile {
            width: 300px;
            height: 194px
        }
        @include desktop-lg {
            width: 360px;
            height: 234px;
        }
        @include tablet {
            width: 340px;
            height: 222px;
        }
        @include desktop{
             width: 300px;
        height: 194px;
        }
    }
    .image img {
        max-width: 100%;
    }
    .caption {
        width: 300px;
        height: 194px;
        height: 0;
        z-index: 2;
        font-weight: 300;
        transition: all .5s;
        color: $dark-grey;
        @include mobile {
            width: 290px;
            height: 184px
        }
        @include desktop-lg {
            width: 360px;
            height: 234px;
        }
        @include desktop{
             width: 300px;
        height: 194px;
        }
    }
    .caption-num2 {
        transform: translateY(100px);
        @include mobile {
            transform: translateY(20px);
        }
        .title {
            font-family: $Montserrat-SemiBold;
        }
        .bar {
            margin: 0 auto;
            background: lighten($dark-grey, 50%);
            height: 1px;
        }
        .list {
            @include mobile {
                opacity: 0;
            }
            height: 0;
            list-style: none;
            padding: 0;
            li {
                margin: 0.5em 0;
                font-size: 0.9em;
                font-family: $OpenSans-Light;
            }
        }
    }
    .image-container-num2:hover .image-num2 {
        opacity: .8;
        transform: translateY(-10%) translateY(-100%);
    }
    .image-container-num2:hover .caption-num2 {
        transform: translateY(-192px);
        @include desktop-lg {
            transform: translateY(-220px);
        }
        @include tablet{
            transform: translateY(-202px);
        }
        .title {
            margin: 1em 0;
        }
        .list {
            margin-top: 15px;
            @include mobile {
                opacity: 1;
            }
        }
        .project-link {
            position: absolute;
            right: 15px;
            padding: 1px 16px;
            font-size: 1.2em;
            color: lighten($dark-grey, 20%);
            top: -15px;
        }
    }
    .view-project {
        background: #09182b;
        padding: 16px 20px;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        font-family: $Montserrat-SemiBold;
        display: inline-block;
    }
}

.technologies {
    padding: 3em 0;
    .tech-list {
        .tech-item {
            width: 16.66%;
            text-align: center;
            margin: 2em auto;
            float: left;
            padding: 3em;
            @include tablet {
                padding: 2em;
            }
            @include mobile {
                width: 25%;
                padding: 1em;
            }
        }
    }
}

.contact-xs {
    background: #181b23;
    color: $white;
}

footer {
    padding: 1em 0 0.5em;
    background: #181b23;
    font-family: $OpenSans-Semibold;
    color: #999;
}

.object-hover {
    transition: ease-in-out 0.5s;
    &:hover {
        transform: translate3d(2%, -2%, 0);
    }
}
