$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-SemiBold: 'Montserrat-SemiBold';
$Montserrat-Light: 'Montserrat-Light';
$OpenSans-Semibold: 'OpenSans-Semibold';
$Raleway-Light: 'Raleway-Light';
$Raleway-Regular: 'Raleway-Regular';
$Raleway-Thin: 'Raleway-Thin';
$OpenSans-Light: 'OpenSans-Light';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-Semibold: 'OpenSans-Semibold';
$Raleway-SemiBold: 'Raleway-SemiBold';
$Futura-Std-Medium: 'Futura-Std-Medium';
$HelveticaNeue-Thin: 'HelveticaNeue-Thin';
$helveticaneuecyr-light: 'helveticaneuecyr-light';
$helveticaneuecyr-thin: 'helveticaneuecyr-thin';