$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-SemiBold: 'Montserrat-SemiBold';
$Montserrat-Light: 'Montserrat-Light';
$OpenSans-Semibold: 'OpenSans-Semibold';
$Raleway-Light: 'Raleway-Light';
$Raleway-Regular: 'Raleway-Regular';
$OpenSans-Light: 'OpenSans-Light';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$Raleway-SemiBold: 'Raleway-SemiBold';